extends layout

block content
  div.add-member
    button.btn.btn-link.pull-right
      a(href='/add') add crew member
  div.members
    h4 members of the army: #{count}
    div.columns
      each member in members
        div.column.col-4.col-lg-4.col-sm-6.col-xs-12
          div.card
            div.card-image
              img(src=`https://restcountries.eu/data/${member.country.toLowerCase()}.svg` class="img-responsive")
            div.card-header
              div.card-title.h5= member.name
              div.card-subtitle.text-gray.twitter-handle
                a(href=`https://twitter.com/${member.twitterHandle}` target="_blank")= member.twitterHandle
            div.card-body
              div
                span.location.city= member.city
                span.location.state= member.state
                div.country
                  p.label.label-rounded.label-primary= member.country
